name = "realtime-worker"
main = "src/index.js"
compatibility_date = "2026-01-27"

# ถ้าอยากให้มี workers.dev แน่นอน
workers_dev = true
# ถ้าไม่อยากให้มี preview url
# preview_urls = false

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_classes = ["RoomDO"]

[vars]
ALLOWED_ORIGINS = "https://mmdprive.webflow.io,https://mmdprive.com"
WEB_BASE_URL = "https://mmdprive.webflow.io"
CONFIRM_BASE_URL = "https://mmdprive.webflow.io"

ROOM_TTL_SECONDS = "7200"

# live chat / video call policy
VIDEO_PROVIDER = "daily"
VIDEO_MAX_CALLS = "2"
VIDEO_CALL_SECONDS = "10"
