@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  min-height: 100%;
  background: #070707;
}

body {
  color: white;
}

* {
  box-sizing: border-box;
}
